@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  --color-secondary: var(--secondary);

  --color-accent: var(--accent);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-selection: var(--selection);

  --color-success: var(--success);
  --color-success-light: var(--success-light);

  --color-danger: var(--danger);
  --color-danger-light: var(--danger-light);

  --color-warning: var(--warning);
  --color-warning-light: var(--warning-light);

  --color-info: var(--info);
  --color-info-light: var(--info-light);

}

:root {
  --background: #ffffff;
  --foreground: #121117;

  --primary: #ff7aac;
  --primary-light: #f7b1cc;

  --secondary: #dcdce5;

  --accent: #72727d;

  --selection: #f7e3ea;

  --success: #29de92;
  --success-light: #8fedc6;

  --danger: #e33e5a;
  --danger-light: #f5b9c3;

  --warning: #fddb3a;
  --warning-light: #f8efc3;

  --info: #00bbf0;
  --info-light: #b8effe;
}